
{% extends 'layout.html' %}
{% block title %}
<h3><b>Musics</b></h3>
<br>
<div class="container">
    <div class="audio"><a class="title" href="/audioplayer"><img src="{{url_for('static',filename='img/thoda-pyar.jpg')}}"></a></video>
    </div>
    <div class="audio"><a class="title" href="#"><img src="{{url_for('static',filename='img/Bepanah-pyar.jpg')}}"> </a></video>
    </div>
    <div class="audio"><a class="title" href="#"><img src="{{url_for('static',filename='img/khariyat-puchho.jpg')}}"> </a></video>
    </div>   
    <div class="audio"><a class="title" href="#"><img src="{{url_for('static',filename='img/thoda-pyar.jpg')}}"> </a></video>
    </div>
    <div class="audio"><a class="title" href="#"><img src="{{url_for('static',filename='img/thoda-pyar.jpg')}}"> </a></video>
    </div>
    <div class="audio"><a class="title" href="#"><img src="{{url_for('static',filename='img/thoda-pyar.jpg')}}"> </a></video>
    </div>
    <div class="audio"><a class="title" href="#"><img src="{{url_for('static',filename='img/thoda-pyar.jpg')}}"> </a></video>
    </div>
    <div class="audio"><a class="title" href="#"><img src="{{url_for('static',filename='img/thoda-pyar.jpg')}}"> </a></video>
    </div>
    <div class="audio"><a class="title" href="#"><img src="{{url_for('static',filename='img/thoda-pyar.jpg')}}"> </a></video>
    </div>   
    <div class="audio"><a class="title" href="#"><img src="{{url_for('static',filename='img/thoda-pyar.jpg')}}"> </a></video>
    </div>
    <a class="more-audio" href="/audios"><b style="color: white; font-family: arial; font-size:16px">more >>></b></a>
    <div class="audio"><a class="title" href="#"><img src="{{url_for('static',filename='img/thoda-pyar.jpg')}}"></a></video>
    </div>
    <div class="audio"><a class="title" href="#"><img src="{{url_for('static',filename='img/thoda-pyar.jpg')}}"> </a></video>
    </div>
    <div class="audio"><a class="title" href="#"><img src="{{url_for('static',filename='img/thoda-pyar.jpg')}}"> </a></video>
    </div>   
    <div class="audio"><a class="title" href="#"><img src="{{url_for('static',filename='img/thoda-pyar.jpg')}}"> </a></video>
    </div>
    <div class="audio"><a class="title" href="#"><img src="{{url_for('static',filename='img/thoda-pyar.jpg')}}"> </a></video>
    </div>
    <div class="audio"><a class="title" href="#"><img src="{{url_for('static',filename='img/thoda-pyar.jpg')}}"> </a></video>
    </div>
    <div class="audio"><a class="title" href="#"><img src="{{url_for('static',filename='img/thoda-pyar.jpg')}}"> </a></video>
    </div>
    <div class="audio"><a class="title" href="#"><img src="{{url_for('static',filename='img/thoda-pyar.jpg')}}"> </a></video>
    </div>
    <div class="audio"><a class="title" href="#"><img src="{{url_for('static',filename='img/thoda-pyar.jpg')}}"> </a></video>
    </div>   
    <div class="audio"><a class="title" href="#"><img src="{{url_for('static',filename='img/thoda-pyar.jpg')}}"> </a></video>
    </div>
    <a class="more-audio" href="/audios"><b style="color: white; font-family: arial; font-size:16px">more >>></b></a>
    <div class="audio"><a class="title" href="#"><img src="{{url_for('static',filename='img/thoda-pyar.jpg')}}"></a></video>
    </div>
    <div class="audio"><a class="title" href="#"><img src="{{url_for('static',filename='img/thoda-pyar.jpg')}}"> </a></video>
    </div>
    <div class="audio"><a class="title" href="#"><img src="{{url_for('static',filename='img/thoda-pyar.jpg')}}"> </a></video>
    </div>   
    <div class="audio"><a class="title" href="#"><img src="{{url_for('static',filename='img/thoda-pyar.jpg')}}"> </a></video>
    </div>
    <div class="audio"><a class="title" href="#"><img src="{{url_for('static',filename='img/thoda-pyar.jpg')}}"> </a></video>
    </div>
    <div class="audio"><a class="title" href="#"><img src="{{url_for('static',filename='img/thoda-pyar.jpg')}}"> </a></video>
    </div>
    <div class="audio"><a class="title" href="#"><img src="{{url_for('static',filename='img/thoda-pyar.jpg')}}"> </a></video>
    </div>
    <div class="audio"><a class="title" href="#"><img src="{{url_for('static',filename='img/thoda-pyar.jpg')}}"> </a></video>
    </div>
    <div class="audio"><a class="title" href="#"><img src="{{url_for('static',filename='img/thoda-pyar.jpg')}}"> </a></video>
    </div>   
    <div class="audio"><a class="title" href="#"><img src="{{url_for('static',filename='img/thoda-pyar.jpg')}}"> </a></video>
    </div>
    <a class="more-audio" href="/audios"><b style="color: white; font-family: arial; font-size:16px">more >>></b></a>
    <div class="audio"><a class="title" href="#"><img src="{{url_for('static',filename='img/thoda-pyar.jpg')}}"></a></video>
    </div>
    <div class="audio"><a class="title" href="#"><img src="{{url_for('static',filename='img/thoda-pyar.jpg')}}"> </a></video>
    </div>
    <div class="audio"><a class="title" href="#"><img src="{{url_for('static',filename='img/thoda-pyar.jpg')}}"> </a></video>
    </div>   
    <div class="audio"><a class="title" href="#"><img src="{{url_for('static',filename='img/thoda-pyar.jpg')}}"> </a></video>
    </div>
    <div class="audio"><a class="title" href="#"><img src="{{url_for('static',filename='img/thoda-pyar.jpg')}}"> </a></video>
    </div>
    <div class="audio"><a class="title" href="#"><img src="{{url_for('static',filename='img/thoda-pyar.jpg')}}"> </a></video>
    </div>
    <div class="audio"><a class="title" href="#"><img src="{{url_for('static',filename='img/thoda-pyar.jpg')}}"> </a></video>
    </div>
    <div class="audio"><a class="title" href="#"><img src="{{url_for('static',filename='img/thoda-pyar.jpg')}}"> </a></video>
    </div>
    <div class="audio"><a class="title" href="#"><img src="{{url_for('static',filename='img/thoda-pyar.jpg')}}"> </a></video>
    </div>   
    <div class="audio"><a class="title" href="#"><img src="{{url_for('static',filename='img/thoda-pyar.jpg')}}"> </a></video>
    </div>
    <a class="more-audio" href="/audios"><b style="color: white; font-family: arial; font-size:16px">more >>></b></a>
    <div class="audio"><a class="title" href="#"><img src="{{url_for('static',filename='img/thoda-pyar.jpg')}}"></a></video>
    </div>
    <div class="audio"><a class="title" href="#"><img src="{{url_for('static',filename='img/thoda-pyar.jpg')}}"> </a></video>
    </div>
    <div class="audio"><a class="title" href="#"><img src="{{url_for('static',filename='img/thoda-pyar.jpg')}}"> </a></video>
    </div>   
    <div class="audio"><a class="title" href="#"><img src="{{url_for('static',filename='img/thoda-pyar.jpg')}}"> </a></video>
    </div>
    <div class="audio"><a class="title" href="#"><img src="{{url_for('static',filename='img/thoda-pyar.jpg')}}"> </a></video>
    </div>
    <div class="audio"><a class="title" href="#"><img src="{{url_for('static',filename='img/thoda-pyar.jpg')}}"> </a></video>
    </div>
    <div class="audio"><a class="title" href="#"><img src="{{url_for('static',filename='img/thoda-pyar.jpg')}}"> </a></video>
    </div>
    <div class="audio"><a class="title" href="#"><img src="{{url_for('static',filename='img/thoda-pyar.jpg')}}"> </a></video>
    </div>
    <div class="audio"><a class="title" href="#"><img src="{{url_for('static',filename='img/thoda-pyar.jpg')}}"> </a></video>
    </div>   
    <div class="audio"><a class="title" href="#"><img src="{{url_for('static',filename='img/thoda-pyar.jpg')}}"> </a></video>
    </div>
    <a class="more-audio" href="/audios"><b style="color: white; font-family: arial; font-size:16px">more >>></b></a>
    <div class="audio"><a class="title" href="#"><img src="{{url_for('static',filename='img/thoda-pyar.jpg')}}"></a></video>
    </div>
    <div class="audio"><a class="title" href="#"><img src="{{url_for('static',filename='img/thoda-pyar.jpg')}}"> </a></video>
    </div>
    <div class="audio"><a class="title" href="#"><img src="{{url_for('static',filename='img/thoda-pyar.jpg')}}"> </a></video>
    </div>   
    <div class="audio"><a class="title" href="#"><img src="{{url_for('static',filename='img/thoda-pyar.jpg')}}"> </a></video>
    </div>
    <div class="audio"><a class="title" href="#"><img src="{{url_for('static',filename='img/thoda-pyar.jpg')}}"> </a></video>
    </div>
    <div class="audio"><a class="title" href="#"><img src="{{url_for('static',filename='img/thoda-pyar.jpg')}}"> </a></video>
    </div>
    <div class="audio"><a class="title" href="#"><img src="{{url_for('static',filename='img/thoda-pyar.jpg')}}"> </a></video>
    </div>
    <div class="audio"><a class="title" href="#"><img src="{{url_for('static',filename='img/thoda-pyar.jpg')}}"> </a></video>
    </div>
    <div class="audio"><a class="title" href="#"><img src="{{url_for('static',filename='img/thoda-pyar.jpg')}}"> </a></video>
    </div>   
    <div class="audio"><a class="title" href="#"><img src="{{url_for('static',filename='img/thoda-pyar.jpg')}}"> </a></video>
    </div>
    <a class="more-audio" href="/audios"><b style="color: white; font-family: arial; font-size:16px">more >>></b></a>
    <div class="audio"><a class="title" href="#"><img src="{{url_for('static',filename='img/thoda-pyar.jpg')}}"></a></video>
    </div>
    <div class="audio"><a class="title" href="#"><img src="{{url_for('static',filename='img/thoda-pyar.jpg')}}"> </a></video>
    </div>
    <div class="audio"><a class="title" href="#"><img src="{{url_for('static',filename='img/thoda-pyar.jpg')}}"> </a></video>
    </div>   
    <div class="audio"><a class="title" href="#"><img src="{{url_for('static',filename='img/thoda-pyar.jpg')}}"> </a></video>
    </div>
    <div class="audio"><a class="title" href="#"><img src="{{url_for('static',filename='img/thoda-pyar.jpg')}}"> </a></video>
    </div>
    <div class="audio"><a class="title" href="#"><img src="{{url_for('static',filename='img/thoda-pyar.jpg')}}"> </a></video>
    </div>
    <div class="audio"><a class="title" href="#"><img src="{{url_for('static',filename='img/thoda-pyar.jpg')}}"> </a></video>
    </div>
    <div class="audio"><a class="title" href="#"><img src="{{url_for('static',filename='img/thoda-pyar.jpg')}}"> </a></video>
    </div>
    <div class="audio"><a class="title" href="#"><img src="{{url_for('static',filename='img/thoda-pyar.jpg')}}"> </a></video>
    </div>   
    <div class="audio"><a class="title" href="#"><img src="{{url_for('static',filename='img/thoda-pyar.jpg')}}"> </a></video>
    </div>
    <a class="more-audio" href="/audios"><b style="color: white; font-family: arial; font-size:16px">more >>></b></a>
    <div class="audio"><a class="title" href="#"><img src="{{url_for('static',filename='img/thoda-pyar.jpg')}}"></a></video>
    </div>
    <div class="audio"><a class="title" href="#"><img src="{{url_for('static',filename='img/thoda-pyar.jpg')}}"> </a></video>
    </div>
    <div class="audio"><a class="title" href="#"><img src="{{url_for('static',filename='img/thoda-pyar.jpg')}}"> </a></video>
    </div>   
    <div class="audio"><a class="title" href="#"><img src="{{url_for('static',filename='img/thoda-pyar.jpg')}}"> </a></video>
    </div>
    <div class="audio"><a class="title" href="#"><img src="{{url_for('static',filename='img/thoda-pyar.jpg')}}"> </a></video>
    </div>
    <div class="audio"><a class="title" href="#"><img src="{{url_for('static',filename='img/thoda-pyar.jpg')}}"> </a></video>
    </div>
    <div class="audio"><a class="title" href="#"><img src="{{url_for('static',filename='img/thoda-pyar.jpg')}}"> </a></video>
    </div>
    <div class="audio"><a class="title" href="#"><img src="{{url_for('static',filename='img/thoda-pyar.jpg')}}"> </a></video>
    </div>
    <div class="audio"><a class="title" href="#"><img src="{{url_for('static',filename='img/thoda-pyar.jpg')}}"> </a></video>
    </div>   
    <div class="audio"><a class="title" href="#"><img src="{{url_for('static',filename='img/thoda-pyar.jpg')}}"> </a></video>
    </div>
    <a class="more-audio" href="/audios"><b style="color: white; font-family: arial; font-size:16px">more >>></b></a>
    <div class="audio"><a class="title" href="#"><img src="{{url_for('static',filename='img/thoda-pyar.jpg')}}"></a></video>
    </div>
    <div class="audio"><a class="title" href="#"><img src="{{url_for('static',filename='img/thoda-pyar.jpg')}}"> </a></video>
    </div>
    <div class="audio"><a class="title" href="#"><img src="{{url_for('static',filename='img/thoda-pyar.jpg')}}"> </a></video>
    </div>   
    <div class="audio"><a class="title" href="#"><img src="{{url_for('static',filename='img/thoda-pyar.jpg')}}"> </a></video>
    </div>
    <div class="audio"><a class="title" href="#"><img src="{{url_for('static',filename='img/thoda-pyar.jpg')}}"> </a></video>
    </div>
    <div class="audio"><a class="title" href="#"><img src="{{url_for('static',filename='img/thoda-pyar.jpg')}}"> </a></video>
    </div>
    <div class="audio"><a class="title" href="#"><img src="{{url_for('static',filename='img/thoda-pyar.jpg')}}"> </a></video>
    </div>
    <div class="audio"><a class="title" href="#"><img src="{{url_for('static',filename='img/thoda-pyar.jpg')}}"> </a></video>
    </div>
    <div class="audio"><a class="title" href="#"><img src="{{url_for('static',filename='img/thoda-pyar.jpg')}}"> </a></video>
    </div>   
    <div class="audio"><a class="title" href="#"><img src="{{url_for('static',filename='img/thoda-pyar.jpg')}}"> </a></video>
    </div>
    <a class="more-audio" href="/audios"><b style="color: white; font-family: arial; font-size:16px">more >>></b></a>
    <div class="audio"><a class="title" href="#"><img src="{{url_for('static',filename='img/thoda-pyar.jpg')}}"></a></video>
    </div>
    <div class="audio"><a class="title" href="#"><img src="{{url_for('static',filename='img/thoda-pyar.jpg')}}"> </a></video>
    </div>
    <div class="audio"><a class="title" href="#"><img src="{{url_for('static',filename='img/thoda-pyar.jpg')}}"> </a></video>
    </div>   
    <div class="audio"><a class="title" href="#"><img src="{{url_for('static',filename='img/thoda-pyar.jpg')}}"> </a></video>
    </div>
    <div class="audio"><a class="title" href="#"><img src="{{url_for('static',filename='img/thoda-pyar.jpg')}}"> </a></video>
    </div>
    <div class="audio"><a class="title" href="#"><img src="{{url_for('static',filename='img/thoda-pyar.jpg')}}"> </a></video>
    </div>
    <div class="audio"><a class="title" href="#"><img src="{{url_for('static',filename='img/thoda-pyar.jpg')}}"> </a></video>
    </div>
    <div class="audio"><a class="title" href="#"><img src="{{url_for('static',filename='img/thoda-pyar.jpg')}}"> </a></video>
    </div>
    <div class="audio"><a class="title" href="#"><img src="{{url_for('static',filename='img/thoda-pyar.jpg')}}"> </a></video>
    </div>   
    <div class="audio"><a class="title" href="#"><img src="{{url_for('static',filename='img/thoda-pyar.jpg')}}"> </a></video>
    </div>
    <a class="more-audio" href="/audios"><b style="color: white; font-family: arial; font-size:16px">more >>></b></a>
    <div class="audio"><a class="title" href="#"><img src="{{url_for('static',filename='img/thoda-pyar.jpg')}}"></a></video>
    </div>
    <div class="audio"><a class="title" href="#"><img src="{{url_for('static',filename='img/thoda-pyar.jpg')}}"> </a></video>
    </div>
    <div class="audio"><a class="title" href="#"><img src="{{url_for('static',filename='img/thoda-pyar.jpg')}}"> </a></video>
    </div>   
    <div class="audio"><a class="title" href="#"><img src="{{url_for('static',filename='img/thoda-pyar.jpg')}}"> </a></video>
    </div>
    <div class="audio"><a class="title" href="#"><img src="{{url_for('static',filename='img/thoda-pyar.jpg')}}"> </a></video>
    </div>
    <div class="audio"><a class="title" href="#"><img src="{{url_for('static',filename='img/thoda-pyar.jpg')}}"> </a></video>
    </div>
    <div class="audio"><a class="title" href="#"><img src="{{url_for('static',filename='img/thoda-pyar.jpg')}}"> </a></video>
    </div>
    <div class="audio"><a class="title" href="#"><img src="{{url_for('static',filename='img/thoda-pyar.jpg')}}"> </a></video>
    </div>
    <div class="audio"><a class="title" href="#"><img src="{{url_for('static',filename='img/thoda-pyar.jpg')}}"> </a></video>
    </div>   
    <div class="audio"><a class="title" href="#"><img src="{{url_for('static',filename='img/thoda-pyar.jpg')}}"> </a></video>
    </div>
    <a class="more-audio" href="/audios"><b style="color: white; font-family: arial; font-size:16px">more >>></b></a>
    <div class="audio"><a class="title" href="#"><img src="{{url_for('static',filename='img/thoda-pyar.jpg')}}"></a></video>
    </div>
    <div class="audio"><a class="title" href="#"><img src="{{url_for('static',filename='img/thoda-pyar.jpg')}}"> </a></video>
    </div>
    <div class="audio"><a class="title" href="#"><img src="{{url_for('static',filename='img/thoda-pyar.jpg')}}"> </a></video>
    </div>   
    <div class="audio"><a class="title" href="#"><img src="{{url_for('static',filename='img/thoda-pyar.jpg')}}"> </a></video>
    </div>
    <div class="audio"><a class="title" href="#"><img src="{{url_for('static',filename='img/thoda-pyar.jpg')}}"> </a></video>
    </div>
    <div class="audio"><a class="title" href="#"><img src="{{url_for('static',filename='img/thoda-pyar.jpg')}}"> </a></video>
    </div>
    <div class="audio"><a class="title" href="#"><img src="{{url_for('static',filename='img/thoda-pyar.jpg')}}"> </a></video>
    </div>
    <div class="audio"><a class="title" href="#"><img src="{{url_for('static',filename='img/thoda-pyar.jpg')}}"> </a></video>
    </div>
    <div class="audio"><a class="title" href="#"><img src="{{url_for('static',filename='img/thoda-pyar.jpg')}}"> </a></video>
    </div>   
    <div class="audio"><a class="title" href="#"><img src="{{url_for('static',filename='img/thoda-pyar.jpg')}}"> </a></video>
    </div>
    <a class="more-audio" href="/audios"><b style="color: white; font-family: arial; font-size:16px">more >>></b></a>
    
       
       
</div>

{% endblock %}