{% extends 'layout.html' %}
{% block title %}

    <section>
        <div class="container-contact">
                <form  action="/contact" method="post">
                    <h3><b>Contact us</b></h3><br>
                    <p>Do you have any questions? Please do not hesitate to contact us directly.</p>
                     <p> Our team will come back to you within a matter of hours to help you.</p>
                    
                    <br>
                    <input type="text" name="name" id="name" placeholder="Your Name" class="form-control"><br>
                    <input type="text" name="email" id="email" placeholder="Your Email" class="form-control"><br>
                    <input type="text" name="subject" id="subject" placeholder="Subject" class="form-control"><br>
                    <input type="text" name="message" id="message" placeholder="Your Messages" class="msg"><br>
                    <div class="container-login-btn">
                    <a class="btn-login" onclick="validateForm();"><button>Send</button></a>
                </div>
                </form>
           
        </div>
        <script>
            function validateForm() {
                var name =  document.getElementById('name').value;
                if (name == "") {
                    document.querySelector('.status').innerHTML = "Name cannot be empty";
                    return false;
                }
                var email =  document.getElementById('email').value;
                if (email == "") {
                    document.querySelector('.status').innerHTML = "Email cannot be empty";
                    return false;
                } else {
                    var re = /^(([^<>()\[\]\\.,;:\s@"]+(\.[^<>()\[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/;
                    if(!re.test(email)){
                        document.querySelector('.status').innerHTML = "Email format invalid";
                        return false;
                    }
                }
                var subject =  document.getElementById('subject').value;
                if (subject == "") {
                    document.querySelector('.status').innerHTML = "Subject cannot be empty";
                    return false;
                }
                var message =  document.getElementById('message').value;
                if (message == "") {
                    document.querySelector('.status').innerHTML = "Message cannot be empty";
                    return false;
                }
                document.querySelector('.status').innerHTML = "Sending...";
              }
        </script>










    </section>


    {% endblock %}
