{% extends 'layout.html' %}
{% block title %}

<section class="videos">
    <h3><b>Musics</b></h3>
    
    <div class="container">
        <div class="audio"><a class="title" href="#"><img src="{{url_for('static',filename='img/thoda-pyar.jpg')}}"></a></video>
           </div>
           <div class="audio"><a class="title" href="#"><img src="{{url_for('static',filename='img/thoda-pyar.jpg')}}"> </a></video>
           </div>
           <div class="audio"><a class="title" href="#"><img src="{{url_for('static',filename='img/thoda-pyar.jpg')}}"> </a></video>
           </div>   
           <div class="audio"><a class="title" href="#"><img src="{{url_for('static',filename='img/thoda-pyar.jpg')}}"> </a></video>
           </div>
           <div class="audio"><a class="title" href="#"><img src="{{url_for('static',filename='img/thoda-pyar.jpg')}}"> </a></video>
           </div>
           <div class="audio"><a class="title" href="#"><img src="{{url_for('static',filename='img/thoda-pyar.jpg')}}"> </a></video>
           </div>
           <div class="audio"><a class="title" href="#"><img src="{{url_for('static',filename='img/thoda-pyar.jpg')}}"> </a></video>
           </div>
           <div class="audio"><a class="title" href="#"><img src="{{url_for('static',filename='img/thoda-pyar.jpg')}}"> </a></video>
           </div>
           <div class="audio"><a class="title" href="#"><img src="{{url_for('static',filename='img/thoda-pyar.jpg')}}"> </a></video>
           </div>   
           <div class="audio"><a class="title" href="#"><img src="{{url_for('static',filename='img/thoda-pyar.jpg')}}"> </a></video>
           </div>
           <a class="more-audio" href="/audios"><b style="color: white; font-family: arial; font-size:16px">more >>></b></a>
           
    </div>
    <br>

    
    
        <h3><b>Short Videos</b></h3>
        
        <div class="container">
            <div class="video-home"><video src="{{url_for('static',filename='videos/bepanah.webm')}}" > <a class="title" href="#">Bepanah Pyar Fullscreen Status </a></video>
               </div>
               <div class="video-home"><video src="{{url_for('static',filename='videos/thoda.webm')}}" > <a class="title" href="#">Bepanah Pyar Fullscreen Status </a></video>
               </div>
               <div class="video-home"><video src="{{url_for('static',filename='videos/thoda1.webm')}}" > <a class="title" href="#">Bepanah Pyar Fullscreen Status </a></video>
               </div>   
               <div class="video-home"><video src="{{url_for('static',filename='videos/lutgaye.webm')}}" > <a class="title" href="#">Bepanah Pyar Fullscreen Status </a></video>
               </div>
               <div class="video-home"><video src="{{url_for('static',filename='videos/khariyat.mp4')}}" > <a class="title" href="#">Bepanah Pyar Fullscreen Status </a></video>
               </div>
               <div class="video-home"><video src="{{url_for('static',filename='videos/thoda-lyrical.mp4')}}" > <a class="title" href="#">Bepanah Pyar Fullscreen Status </a></video>
               </div>
               <a class="more-video" href="/videos"><b style="color: white; font-family: arial; font-size:16px">more >>> </b></a>
        </div>
        <br>



{% endblock %}